*{
    margin: 0;
    padding: 0;
}

.container ul li 
{
  width: 100vw; height: 50px; display: flex; text-decoration: none;   display: inline; margin: 0 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: aliceblue;
  text-decoration: none;
}


.container ul li a
{
  text-decoration: none; color: aliceblue;
}

.container{
    background-color: rgb(120, 0, 218); width: 100vw; height: 50px; align-content: center; 


}